
<!-- <p>{{this.nombre}} {{this.apellido}}</p> -->
<!-- Las doble llaves que traen una variable es una interpolación -->
<!-- <input type="text" value="{{this.nombre}}" > -->
<!-- <input type="text" [value]="apellido" > -->

<!-- Hago un doble bindeo, si modif la var en el html, se modifica en el ts
y si modifico en el ts, se cambia en el html -->
<!-- <input type="text" [(ngModel)]="apellido" > -->
<!-- <input type="text" value="nombre" > -->

<!-- El (click) llama un metodo de ts -->
<!-- <input type="button" (click)="this.cambiarNombre()" value="push"> -->

<!-- Los () lanzan eventos, los [] definen atributos y las {{}} traen variables -->

<label>Nombre: </label>
<input type="text" [value]="usuario.nombre" >
<br>
<label>Apellido: </label>
<input type="text" [value]="usuario.apellido" >
<br>
<input type="button" (click)="this.aceptar()" value="Aceptar">

<br>
<br>

<label>Nombre: </label>
<input type="text" [(ngModel)]="usuario.nombre" >
<br>
<label>Apellido: </label>
<input type="text" [(ngModel)]="usuario.apellido" >
<br>
<input type="button" (click)="usuario.mostrar()" value="Mostrar">
