<div class="p-5 mb-4 bg-info text-light">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenido {{nombre}}</h1>
      <p class="col-md-8 fs-4">Clase 2</p>
      <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
</div>

<!-- la etiqueta routerLink sirve para rutear desde el modulo actual, si se le pone la barra adelante indica ruta absoluta -->
<a class="btn btn-secondary ms-3" role="button" routerLink="acercaDe" >acerca de...</a>

<!-- Este router-outlet es para que se carge el componente hijo 'acercaDe' -->
<router-outlet></router-outlet>