<style>
  #app1 {
    background-color: lightblue;
    padding: 1rem;
  }
  #app2 {
    background-color: lightcoral;
    padding: 1rem;
  }
</style>

<!-- router-outlet trae las rutas del app-routing.module.ts -->
<router-outlet></router-outlet>

<body>
  <h2>Bienvenido!</h2>
  <!-- Para crear una vista hago 'ng generate component Vistas/Juegos' o 'ng g c Vistas/Juegos' -->
  <div id="app1">
    <h3>Instancia 1</h3>
    <app-juegos></app-juegos>
  </div>
  <div id="app2">
    <h3>Instancia 2</h3>
    <app-juegos></app-juegos>
  </div>
</body>